services:
  postgres:
    container_name: 'world_storage_db'
    image: 'postgres:latest'
    restart: always
    user: postgres
    volumes:
      - postgres_volume:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass1234
      - POSTGRES_DB=world_storage
    ports:
      - '5432:5432'
volumes:
  postgres_volume: