openapi: 3.0.3
info:
  title: World Storage Service API
  version: 1.0.0
  description: |
    ## Overview

    World Storage Service provides world-isolated key-value storage with three namespaces:
    - **World Storage**: Global key-value storage scoped to a world (`/values/:key`)
    - **Player Storage**: Per-player key-value storage scoped to both world and player address (`/players/:player_address/values/:key`)
    - **Env Storage**: Encrypted environment variable storage scoped to a world (`/env/:key`)

    All requests must be signed using Decentraland's Signed Fetch (ADR-44); the calling world
    is derived from the signed fetch metadata.

  contact:
    name: Decentraland Foundation
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://storage.decentraland.zone
    description: Development server
  - url: https://storage.decentraland.org
    description: Production server

tags:
  - name: World Storage
    description: Endpoints for world-scoped storage
  - name: Player Storage
    description: Endpoints for player-scoped storage (scoped by world and player address)
  - name: Env Storage
    description: Endpoints for encrypted environment variable storage (scoped by world)

security:
  - SignedFetch: []

paths:
  /values:
    get:
      operationId: listWorldStorageValues
      tags:
        - World Storage
      summary: List world storage values with pagination
      description: |
        Lists all key-value pairs stored for the calling world with pagination support.
        The world identifier is resolved from the Signed Fetch metadata.
        
        Results are ordered alphabetically by key (ASC) for deterministic pagination.
        Each item is returned as a single-key object: `{ key: value }`.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/PrefixParam'
      responses:
        '200':
          description: Paginated list of key-value pairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStorageItemsResponse'
              examples:
                withValues:
                  value:
                    data:
                      - key: foo
                        value: { bar: 1 }
                      - key: baz
                        value: 3
                    pagination:
                      limit: 100
                      offset: 0
                      total: 2
                empty:
                  value:
                    data: []
                    pagination:
                      limit: 100
                      offset: 0
                      total: 0
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: clearWorldStorage
      tags:
        - World Storage
      summary: Clear all world storage values
      description: |
        Deletes all values stored for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Warning**: This is a destructive operation. The `X-Confirm-Delete-All` header
        is required to prevent accidental data loss.
        
        Only world owners and deployers can perform this operation.
      parameters:
        - $ref: '#/components/parameters/ConfirmDeleteAllHeader'
      responses:
        '204':
          description: All values deleted successfully
        '400':
          description: Signed fetch is missing, invalid, or confirmation header is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                missingHeader:
                  value:
                    error: Bad request
                    message: 'Missing required header: X-Confirm-Delete-All'
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /values/{key}:
    get:
      operationId: getWorldStorageValue
      tags:
        - World Storage
      summary: Get a world storage value
      description: |
        Retrieves the value stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Value found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageValueResponse'
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '404':
          description: Value not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: upsertWorldStorageValue
      tags:
        - World Storage
      summary: Upsert a world storage value
      description: |
        Creates or updates the value stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertStorageRequest'
            examples:
              upsertValue:
                value:
                  value:
                    foo: bar
      responses:
        '200':
          description: Value upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageValueResponse'
        '400':
          description: Invalid signed fetch or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                invalidJson:
                  value:
                    message: Request body must be valid JSON
                missingValue:
                  value:
                    message: Value is required
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteWorldStorageValue
      tags:
        - World Storage
      summary: Delete a world storage value
      description: |
        Deletes the value stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted (or did not exist)
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /players/{player_address}/values:
    get:
      operationId: listPlayerStorageValues
      tags:
        - Player Storage
      summary: List player storage values with pagination
      description: |
        Lists all key-value pairs stored for the specified player within the calling world with pagination support.
        The world identifier is resolved from the Signed Fetch metadata.
        
        Results are ordered alphabetically by key (ASC) for deterministic pagination.
        Each item is returned as a single-key object: `{ key: value }`.
      parameters:
        - name: player_address
          in: path
          required: true
          description: The player's wallet address
          schema:
            type: string
            example: '0x1234567890abcdef1234567890abcdef12345678'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/PrefixParam'
      responses:
        '200':
          description: Paginated list of key-value pairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStorageItemsResponse'
              examples:
                withValues:
                  value:
                    data:
                      - key: level
                        value: 5
                      - key: score
                        value: 100
                    pagination:
                      limit: 100
                      offset: 0
                      total: 2
                empty:
                  value:
                    data: []
                    pagination:
                      limit: 100
                      offset: 0
                      total: 0
        '400':
          description: Signed fetch is missing, invalid, or invalid player address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                invalidAddress:
                  value:
                    error: Bad request
                    message: Invalid player address
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: clearPlayerStorage
      tags:
        - Player Storage
      summary: Clear all player storage values for a specific player
      description: |
        Deletes all values stored for the specified player within the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Warning**: This is a destructive operation. The `X-Confirm-Delete-All` header
        is required to prevent accidental data loss.
        
        Only world owners and deployers can perform this operation.
      parameters:
        - name: player_address
          in: path
          required: true
          description: The player's wallet address
          schema:
            type: string
            example: '0x1234567890abcdef1234567890abcdef12345678'
        - $ref: '#/components/parameters/ConfirmDeleteAllHeader'
      responses:
        '204':
          description: All values for the player deleted successfully
        '400':
          description: Signed fetch is missing, invalid, or confirmation header is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                missingHeader:
                  value:
                    error: Bad request
                    message: 'Missing required header: X-Confirm-Delete-All'
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /players/{player_address}/values/{key}:
    get:
      operationId: getPlayerStorageValue
      tags:
        - Player Storage
      summary: Get a player storage value
      description: |
        Retrieves the value stored under `key` for the specified player within the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: player_address
          in: path
          required: true
          description: The player's wallet address
          schema:
            type: string
            example: '0x1234567890abcdef1234567890abcdef12345678'
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Value found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageValueResponse'
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '404':
          description: Value not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: upsertPlayerStorageValue
      tags:
        - Player Storage
      summary: Upsert a player storage value
      description: |
        Creates or updates the value stored under `key` for the specified player within the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: player_address
          in: path
          required: true
          description: The player's wallet address
          schema:
            type: string
            example: '0x1234567890abcdef1234567890abcdef12345678'
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertStorageRequest'
            examples:
              upsertValue:
                value:
                  value:
                    score: 100
                    level: 5
      responses:
        '200':
          description: Value upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageValueResponse'
        '400':
          description: Invalid signed fetch or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                invalidJson:
                  value:
                    message: Request body must be valid JSON
                missingValue:
                  value:
                    message: Value is required
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deletePlayerStorageValue
      tags:
        - Player Storage
      summary: Delete a player storage value
      description: |
        Deletes the value stored under `key` for the specified player within the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
      parameters:
        - name: player_address
          in: path
          required: true
          description: The player's wallet address
          schema:
            type: string
            example: '0x1234567890abcdef1234567890abcdef12345678'
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted (or did not exist)
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /players:
    get:
      operationId: listPlayers
      tags:
        - Player Storage
      summary: List players with stored values
      description: |
        Lists all distinct player addresses that have stored values within the calling world with pagination support.
        The world identifier is resolved from the Signed Fetch metadata.
        
        Results are ordered alphabetically by player address (ASC) for deterministic pagination.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Paginated list of player addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlayersResponse'
              examples:
                withPlayers:
                  value:
                    data:
                      - '0x1234567890abcdef1234567890abcdef12345678'
                      - '0x6a327965be29a7acb83e1d1bbd689b72e188e58d'
                    pagination:
                      limit: 100
                      offset: 0
                      total: 2
                empty:
                  value:
                    data: []
                    pagination:
                      limit: 100
                      offset: 0
                      total: 0
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: clearAllPlayersStorage
      tags:
        - Player Storage
      summary: Clear all player storage values for all players
      description: |
        Deletes all player storage values for all players within the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Warning**: This is a destructive operation that affects ALL players.
        The `X-Confirm-Delete-All` header is required to prevent accidental data loss.
        
        Only world owners and deployers can perform this operation.
      parameters:
        - $ref: '#/components/parameters/ConfirmDeleteAllHeader'
      responses:
        '204':
          description: All player storage values deleted successfully
        '400':
          description: Signed fetch is missing, invalid, or confirmation header is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                missingHeader:
                  value:
                    error: Bad request
                    message: 'Missing required header: X-Confirm-Delete-All'
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /env:
    get:
      operationId: listEnvKeys
      tags:
        - Env Storage
      summary: List environment variable keys (names only)
      description: |
        Lists all environment variable key names (not values) for the calling world with pagination support.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Important**: This endpoint returns ONLY key names to protect secrets. Values are never exposed.
        
        Results are ordered alphabetically by key (ASC) for deterministic pagination.
        
        **Authorization**: Only world owners and deployers can access this endpoint.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/PrefixParam'
      responses:
        '200':
          description: Paginated list of key names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvKeysResponse'
              examples:
                withKeys:
                  value:
                    data:
                      - API_SECRET
                      - SENTRY_DSN
                    pagination:
                      limit: 50
                      offset: 0
                      total: 2
                empty:
                  value:
                    data: []
                    pagination:
                      limit: 50
                      offset: 0
                      total: 0
        '400':
          description: Signed fetch is missing, invalid, or invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                invalidLimit:
                  value:
                    error: Bad request
                    message: limit must be a positive integer
                limitExceeded:
                  value:
                    error: Bad request
                    message: limit cannot exceed 500
        '401':
          description: Unauthorized - signer is not owner or deployer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: clearEnvStorage
      tags:
        - Env Storage
      summary: Clear all environment variables
      description: |
        Deletes all environment variables stored for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Warning**: This is a destructive operation. The `X-Confirm-Delete-All` header
        is required to prevent accidental data loss.
        
        Only world owners and deployers can perform this operation.
      parameters:
        - $ref: '#/components/parameters/ConfirmDeleteAllHeader'
      responses:
        '204':
          description: All environment variables deleted successfully
        '400':
          description: Signed fetch is missing, invalid, or confirmation header is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                missingHeader:
                  value:
                    error: Bad request
                    message: 'Missing required header: X-Confirm-Delete-All'
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /env/{key}:
    get:
      operationId: getEnvStorageValue
      tags:
        - Env Storage
      summary: Get an environment variable value
      description: |
        Retrieves the environment variable stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        Values are stored encrypted at rest.
        
        **Authorization**: Only authorized addresses can access this endpoint.
        World owners and deployers are explicitly not allowed, even if they have permissions.
      parameters:
        - name: key
          in: path
          required: true
          description: The environment variable key
          schema:
            type: string
            example: 'API_SECRET'
      responses:
        '200':
          description: Value found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvStorageValueResponse'
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '404':
          description: Value not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: upsertEnvStorageValue
      tags:
        - Env Storage
      summary: Upsert an environment variable value
      description: |
        Creates or updates the environment variable stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        Values are stored encrypted at rest.
        
        **Authorization**: Only world owners and deployers can perform this operation.
        Authorized addresses are not allowed.
      parameters:
        - name: key
          in: path
          required: true
          description: The environment variable key
          schema:
            type: string
            example: 'API_SECRET'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertEnvStorageRequest'
            examples:
              upsertValue:
                value:
                  value: 'sk-secret-api-key-12345'
      responses:
        '204':
          description: Value upserted
        '400':
          description: Invalid signed fetch or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
                invalidJson:
                  value:
                    message: Request body must be valid JSON
                missingValue:
                  value:
                    message: Value is required
                invalidValueType:
                  value:
                    message: Invalid JSON body
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteEnvStorageValue
      tags:
        - Env Storage
      summary: Delete an environment variable value
      description: |
        Deletes the environment variable stored under `key` for the calling world.
        The world identifier is resolved from the Signed Fetch metadata.
        
        **Authorization**: Only world owners and deployers can perform this operation.
        Authorized addresses are not allowed.
      parameters:
        - name: key
          in: path
          required: true
          description: The environment variable key
          schema:
            type: string
            example: 'API_SECRET'
      responses:
        '204':
          description: Deleted (or did not exist)
        '400':
          description: Signed fetch is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                signedFetchRequired:
                  value:
                    error: Invalid Auth Chain
                    message: This endpoint requires a signed fetch request. See ADR-44.
        '401':
          description: Unauthorized - signer is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    message: 'Unauthorized: Signer is not authorized to perform operations'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    SignedFetch:
      type: apiKey
      in: header
      name: X-Identity-Auth-Chain-*
      description: |
        Signed fetch authentication using Decentraland's ADR-44 specification.
        Multiple headers are used to provide the authentication chain.
  parameters:
    ConfirmDeleteAllHeader:
      name: X-Confirm-Delete-All
      in: header
      required: true
      description: |
        Required confirmation header for bulk delete operations.
        This header must be present (with any non-empty value) to confirm the destructive operation.
        This safety mechanism prevents accidental data loss.
      schema:
        type: string
      example: 'true'
    LimitParam:
      name: limit
      in: query
      required: false
      description: |
        Maximum number of items to return per page.
        Default: 100, Maximum: 100. Invalid values (non-numeric, zero, negative, or exceeding max) fall back to the default.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
      example: 100
    OffsetParam:
      name: offset
      in: query
      required: false
      description: |
        Number of items to skip for pagination.
        Default: 0. Invalid values (non-numeric or negative) fall back to the default.
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    PrefixParam:
      name: prefix
      in: query
      required: false
      description: |
        Optional case-sensitive prefix filter applied to key names.
        Only keys starting with the given prefix (case-sensitive) will be returned.
      schema:
        type: string
      example: 'API_'
  schemas:
    StorageValueResponse:
      type: object
      properties:
        value: {}
      required:
        - value
      description: Stored value response for both world and player storage.
    UpsertStorageRequest:
      type: object
      properties:
        value: {}
      required:
        - value
      description: Payload to persist under the provided key (used for both world and player storage).
    EnvStorageValueResponse:
      type: object
      properties:
        value:
          type: string
      required:
        - value
      description: Stored environment variable value response.
    UpsertEnvStorageRequest:
      type: object
      properties:
        value:
          type: string
      required:
        - value
      description: Payload to persist an environment variable under the provided key. Value must be a string.
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Number of items per page
          example: 50
        offset:
          type: integer
          description: Number of items skipped
          example: 0
        total:
          type: integer
          description: Total count of matching items
          example: 100
      required:
        - limit
        - offset
        - total
      description: Pagination metadata for paginated list responses.
    ListEnvKeysResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: string
          description: Array of environment variable key names (no values)
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - data
        - pagination
      description: |
        Paginated response for listing environment variable keys.
        Only key names are returned; values are never exposed to protect secrets.
    StorageEntry:
      type: object
      properties:
        key:
          type: string
          description: The storage key name
        value:
          description: The stored value (any JSON type)
      required:
        - key
        - value
      description: A single key-value entry from storage.
    ListPlayersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: string
            description: A player wallet address
          description: Array of distinct player addresses with stored values
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - data
        - pagination
      description: |
        Paginated response for listing player addresses that have stored values in the world.
        Addresses are sorted alphabetically (ASC) for deterministic pagination.
    ListStorageItemsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StorageEntry'
          description: Array of key-value entries
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - data
        - pagination
      description: Paginated response for listing storage key-value pairs.
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
          description: Optional error code or cause when available.
      required:
        - message
      description: Error response body.
